<div ng-controller="Test">
  Listing {{state.length}} Zip Codes!
  {{list.length}}
  {{update}}
  {{random}}
  {{status}}
  <my-content>{{names}}</my-content>

  <div class="row">

    <!-- <form ng-submit="entering"> -->
    <!-- </form> -->
    <!-- <div class="col-xs-4"> -->
    <div class="col-xs-4">
      <!-- <autocomplete ng-model="yourchoice" data="movies" on-type="updateMovies()" click-activation="true"  on-select="selecter"></autocomplete> -->
      <autocomplete attr-placeholder="Type the State..." click-activation="true" attr-input-class="form-control" ng-model="yourchoice" data="movies" on-type="updateMovies()" click-activation="true"  on-select="selecter">Texas</autocomplete>
    </div>


    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Type in a Zip Code or City Name" ng-change="updateBar(search)" ng-model="search"/>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
  <div class="col-xs-12" style="height:50px;"></div>

  <div class="container-fluid" ng-init="loading=[];">
    <!-- <div infinite-scroll='loadMore()'> -->
    <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
      <div class="row" ng-repeat="item in filtered = (obj | filter: search | orderBy: 'name' ) | limitTo:totalDisplayed track by $index" ng-if="$index % 4 == 0">
        <div class="col-xs-3 letter-box"
        ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
        ng-if="filtered[i] != null">
        <div class="row form-group">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">{{checker}}{{filtered[i].name}}, {{filtered[i].state}}</span><br>
                <span class="md-subhead">{{filtered[i].code}}</span>
              </md-card-title-text>
              <md-card-title-media>
              </md-card-title-media>
            </md-card-title>
            <button class="btn btn-success" ng-click="loading[i]=!loading[i]">
              More Info
            </button>
          </md-card>

        </div>
        <div class="form-group" ng-show="loading[i]">
          <div class="btn-group">
            <a target="_blank" href="https://www.google.com/maps?f=q&q={{filtered[i].code}}"><button class="btn btn-primary dropdown-toggle">
              Google Maps
            </button></a>
          </div>
        </div>
      </div>
    </div>
      <div ng-show='reddit.busy'>Loading data...</div>
    </div>

  <button type="button" class="btn btn-danger" ng-click="loadMore()">Load more</button>
</div>
<div class="col-xs-12" style="height:50px;"></div>

</div>
