<div ng-controller="test" scroll id="page" ng-class="{min:boolChangeClass}">

  <!-- Post Info -->

  <div style='position:fixed;top:0;left:0;z-index:10005; max-height: 400px;' class='col-xs-12 col-md-4'>
    <div class="row" style="height:50px; background-color:white;"></div>
    <div class="header" data-spy="affix" data-offset-top="300">
      <div class="row">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">

            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" coords="'self'" doCluster="false" click="onClick(m)" options="'options'">
              <ui-gmap-window show="m.show">
                                      <p>
                                      Lat: {{m.coords.latitude}},
                                      Long: {{m.coords.longitude}}<br/>
                                      Place: <strong>{{m.name}},{{m.state}} {{m.id}}</strong>
                                     <br/>
                                   </p>

                              </ui-gmap-window>
              <!-- <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                              <div>
                                {{m.name}}, {{m.state}}



                              </div>
                          </ui-gmap-window> -->
            </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <div style="overflow-y: scroll;overflow-x: hidden; max-height: 250px;" class="col-xs-4 col-sm-4 col-md-12">
      <div class="row" ng-repeat="item in map.markers track by $index" ng-if="$index % shorter == 0">
        <p>
          <div class="col-xs-6 col-sm-6 col-md-6"
          ng-repeat="i in createsub($index, shorter)"
          ng-if="map.markers[i] != null">
          <button class="btn btn-danger btn-sm btn-block" ng-click="set(map.markers[i].id); getCenter({code:map.markers[i].id});">{{map.markers[i].name}} <span class="badge">{{map.markers[i].state}}</span>
            <br>{{map.markers[i].id}}
          </button>

        </div>
      </p>
    </div>
  </div>
</div>
</div>

  <div class="maincontent col-xs-12 col-md-8  col-md-offset-4">

  <my-content>{{names}}</my-content>



    <div class="container-fluid col-sm-offset-4 col-xs-offset-4 col-md-offset-0">
      <!-- <div infinite-scroll='loadMore()'> -->
      <div class="col-xs-12" ng-show="isTablet || isPhone" style="background-color: black; height:400px;"></div>
      <div style='position:fixed;top:0;left:0;z-index:10005;' class="row">

        <div class="col-xs-6 col-sm-6 col-md-6">
          <!-- <autocomplete ng-model="yourchoice" data="movies" on-type="updateMovies()" click-activation="true"  on-select="selecter"></autocomplete> -->
          <autocomplete attr-placeholder="Type the State..." click-activation="true" attr-input-class="form-control" ng-model="yourchoice" data="movies" on-type="updateMovies()" click-activation="true"  on-select="selecter">Texas</autocomplete>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6">
          <input type="text" class="form-control" placeholder="Type in a Zip Code or City Name" ng-change="updateBar(search)" ng-model="search"/>
        </div>

        </div>
      <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div class="row" ng-repeat="item in filtered = (obj | filter: search | orderBy: 'name' ) | limitTo:totalDisplayed track by $index" ng-if="$index % colum == 0">
          <div class="col-xs-6 col-sm-6 col-md-4"
          ng-repeat="i in create($index)"
          ng-if="filtered[i] != null">
          <div class="row form-group">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-title">{{checker}}{{filtered[i].name}}, {{filtered[i].state}}</span><br>
                  <span class="md-subhead">{{filtered[i].code}}</span>
                </md-card-title-text>
              </md-card-title>
              <div class="form-group" ng-show="loading[filtered[i].code]">
                  <a target="_blank" href="https://www.google.com/maps?f=q&q={{filtered[i].code}}"><button class="btn btn-primary dropdown-toggle">
                    Google Maps
                  </button></a>
                  <a target="_blank" href="http://www.city-data.com/zips/{{filtered[i].code}}.html"><button class="btn btn-primary dropdown-toggle">
                    City Data
                  </button></a>
                </div>
              <!--# State	 code	 name	Long	 Area	 Number	 Latitude	 Longitude  -->
              <button class="btn btn-success" ng-click="set(filtered[i].code); getCenter(filtered[i]);">
                More Info
              </button>
            </md-card>

          </div>

        </div>
      </div>
      <div ng-show='reddit.busy'>Loading data...</div>
    </div>

    <button type="button" class="btn btn-danger" ng-click="loadMore()">Load more</button>
  </div>
</div>
  <div class="col-xs-12" style="height:50px;"></div>

</div>
