<div ng-controller="zips" scroll id="page" ng-class="{min:boolChangeClass}" style="overflow-x:hidden;">

  <input type="number" ng-model="myText" name="inputName">


  <div class="row" id="place"   data-ng-init="init()" >
    <div class="col-xs-4" style='position:fixed;top:50px;'>
      <ui-gmap-google-map id="local" ng-show="showMap" center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
          <ui-gmap-markers models="randomMarkers" coords="'self'" idkey="id" icon="'icon'" events="map.markersEvents">
            <ui-gmap-windows show="show">
        <div ng-non-bindable>
          <strong>{{name}},{{state}}</strong></br>
          {{id}}</br>
          <small>(Double Click to Remove)</small>
        </div>
      </ui-gmap-windows>
          </ui-gmap-markers>
      </ui-gmap-google-map>

        <!-- <div style="clear: right; overflow-y: scroll; overflow-x:hidden;  max-height:250px;" class="container">

          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in fil = ( randomMarkers | orderBy: 'name' ) track by $index" ng-if="$index % shorter == 0">
              <div class=""
              ng-repeat="i in createsub($index, shorter)"
              ng-if="fil[i] != null">
              <button style="margin-right: 5px; " class="btn btn-danger btn-sm" ng-click="set(fil[i].id); getCenter({code:fil[i].id});">{{fil[i].name}} <span class="badge">{{fil[i].state}}</span>
                <br>{{fil[i].id}}
              </button>

            </div>
        </div>

      </div> -->
    </div>
  </div>


</div>
